.App {
    max-width: 1440px;
    min-width: 330px;
    margin:0 auto;
    background-color: #FFFFFF;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,
    #4731D3 0%,
    #4731D3 70%,
    #CBF281 30%,
    #CBF281 100%);
}

header h1 {
    width: 100%;
    font-size: 2rem;
    color: #CBF281;
    padding-bottom: 4rem;
}

header .container {
    padding: 4rem 0;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

header .child {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 60%;
}

@media(max-width: 1230px) {
    header .child {
      order: 1;
    }
  }

header h2 {
    padding-top: 2rem;
    font-size: 3rem;
    color: #CBF281;
}

header p {
    font-size: 1.5rem;
    color: #FFFFFF;
}

header img {
    width: 20rem;
    border-radius: 1rem;
}

header .buttons {
    display: flex;
    gap: 1rem;
}

header .buttons {
    display: flex;
    gap: 1rem;
}

header button {
    background-color: #FFFFFF;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.Skills {
    display: flex;
    justify-content: center;
}

.Skills .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 65%;
    padding: 4rem 0;
}

.Skills h2 {
    padding-bottom: 2rem;
    width: 10rem;
    font-size: 3rem;
    color: #4731D3;
}

.Skills .child {
    width: 40rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.Skills .card {
    width: 16rem;
    display: flex;
    align-items: center;
}

.Skills img {
    width: 7.5rem;
    border-radius: 0.5rem;
}

.Skills p {
    font-size: 1.5rem;
    padding: 1rem;
}



.Profile {
    padding: 6rem 15rem;
    background-color: #4731D3;
}

.Profile h2 {
    font-size: 3rem;
    color: #CBF281;
    padding-bottom: 2rem;
}

.Profile h3 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.profile-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    color: #FFFFFF;
}

.profile-container span {
    color: black;
}

.profile-container div {
    width: 30%;
}

.profile-container p {
    padding: 1rem 0;
    line-height: 1.5rem;
}

.profile-container img {
    border-radius: 1rem;
}


.Projects {
    padding: 6rem 15rem;
    background-color: #CBF281;
}

.Projects h2 {
    font-size: 3rem;
    color: #4731D3;
    padding-bottom: 2rem;
}

.Projects h3 {
    font-size: 2rem;
    color: #4731D3;
}

.project-container {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.project-container img {
    border-radius: 1rem 0 0 1rem;
}

.project-right {
   padding: 2rem;
}

.project-right p {
    padding: 2rem 0;
 }

.project-container button {
    background-color: #4731D3;
    color: #FFFFFF;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
}

.project-right .anchors {
    padding: 2rem 0;
 }

.project-right a {
    padding-right: 1rem;
 }

.Footer {
    text-align: center;
}

 .Footer h2 {
    font-size: 2rem;
    color: #4731D3;
    padding-top: 4rem;
}

.Footer p {
    padding: 1rem;
}

.Footer .icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
}

@media(max-width: 640px) {

    header .container {
        width: 80%;
    }

    header img{
        width: 15rem;
    }

    header {
        background: linear-gradient(to right,
        #4731D3 0%,
        #4731D3 90%,
        #CBF281 10%,
        #CBF281 100%);
    }
  }
