.App {
    width: 1440px;
    background-color: #FFFFFF;
}

.Header {
    background: linear-gradient(to right,
            #4731D3 0%,
            #4731D3 70%,
            #CBF281 30%,
            #CBF281 100%);
}

.Header h1 {
    font-size: 2rem;
    color: #CBF281;
    padding: 4rem 15rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 15rem;
    padding-bottom: 10rem;
}

.header-text {
    width: 50%;
}

.header-container h2 {
    font-size: 3rem;
    color: #CBF281;
}

.header-container p {
    font-size: 1.5rem;
    color: #ffffff;
    padding: 1.5rem 0;
}

.header-container img {
    border-radius: 1rem;
}

.header-container button {
    background-color: #ffffff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.header-container  button+button {
    border: black solid 1px;
    margin-left: 1rem;
}

.Skills {
    display: flex;
    padding: 6rem 15rem;
}

.Skills h2 {
    width: 30%;
    font-size: 3rem;
    color: #4731D3;
}

.skills-container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.Skills .card {
    width: 40%;
    display: flex;
    align-items: center;
}

.Skills img {
    width: 7.5rem;
    border-radius: 0.5rem;
}

.Skills p {
    font-size: 1.5rem;
    padding: 1rem;
  }



  
